@tailwind base;
@tailwind components;
@tailwind utilities;

.input-dark{
	@apply bg-gray-900 w-full rounded-md px-3 py-3
}

.layout-enter-active,
.layout-leave-active {
    transition: all 0.4s;
}
.layout-enter-from,
.layout-leave-to {
    filter: grayscale(1);
}

input[type=radio]{
    display:none;
}
input[type=radio] + label{
    border: 1px solid black;
    background-color: red;
    border-radius: 50%;
    display: block;
}
input[type=radio]:checked + label{
    background-color: green;
}
	
body{
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}