@tailwind base;
@tailwind components;
@tailwind utilities;

.input-dark{
	@apply bg-dark-black md:bg-light-black w-full rounded-md p-2 md:px-3 md:py-3 border border-onyx-black
}

.button-dark{
    @apply 
        bg-dark-black md:bg-light-black text-start p-3 md:px-5 md:py-4 text-white 
        duration-300 rounded-md border
        border-onyx-black hover:bg-dark-black hover:bg-opacity-60
}

.layout-enter-active,
.layout-leave-active {
    transition: all 0.4s;
}
.layout-enter-from,
.layout-leave-to {
    filter: grayscale(1);
}

::selection{
    @apply bg-blue-300
}

input[type=radio]{
    display:none;
}
input[type=radio] + label{
    border: 1px solid black;
    background-color: red;
    border-radius: 50%;
    display: block;
}
input[type=radio]:checked + label{
    background-color: green;
}
	
body{
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}